*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
a::after{
    content: '';
    position: relative;
    left: 50%;
    display: block;
    width: 0;
    height: 3px;
    background-color: #18b13e;
    transition: 0.4s;
}
a:hover:after{
    width: 100%;
    left: 0%;
}
html{
    height: 100%;
}
body{
    background-color: #f8f8f8;
    font-family: 'Noto+Sans';
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
/*-------PAGE--------------------------------------------------------*/
.text-white{
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #FBFAF7;
}
.title-white{
    color: #FBFAF7;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin: 0px 0px 26px 0px;
}
.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin: 0px 0px 26px 0px;
}
.text {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: black;
}
/*------HEADER----------------------------------------------------*/

.header {
    background-color: #163A24;
}
.header-container{

    width: 100%;
}
.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-img {
    padding: 15px 0px;
}
.header-img img{
    max-width: 100%;
}
.header-text {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 54px 0px 0px;
}
@media (max-width: 600px){
    .header-text {
        flex-direction: column;
        margin: 5px 0px;
    }
    .header-text p{
        margin: 5px 0px;
    }
}
.header-text p{
    font-size: 16px;
    line-height: 22px;
}
.header-text a{
    text-decoration: none;
    color: #ffffff;
}
.header-text > *{
    margin: 0px 12px 0px 24px;
}
.button{
    background-color: #22c54b;
    border-radius: 160px;
    padding: 15px 24px;
    color: #FBFAF7;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    min-height: 52px;
    transition: 0.5s;
}
.button:hover{
    background-color: #be0dcabf;
    box-shadow: 2px 2px 20px 3px #0b4d1b;
}
/*------MAIN----------------------------------------------------*/

.page{
    background-color: #163A24;
    margin: 0px 0px 120px 0px;
}
@media (max-width: 400px){
    .page{
    margin: 0px 0px 80px 0px;
    }
}
.page-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.page-text {
    margin: 20px 0px;
    padding: 7px;
    max-width: 440px;
}
@media (max-width:1190px){
    .page-container{
        flex-direction: column;
        text-align: center;
    }
    .page-text{
        margin: 0px 0px 40px 0px;
        max-width: 700px;
    }
}
.page-text h1{
    margin: 0px 0px 18px 0px;
}
.page-img img{
    max-width: 100%;
}
.positive-content {
    display: grid;
    grid-template: repeat(auto-fit, minmax(200px, auto)) / repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    justify-self: center;
}
.positive-img {
    justify-self: center;
}
.positive-img img{
    max-width: 100%;
}
.positive-text {
    padding: 0px 113px;
}
@media (max-width: 810px){
    .positive-content{
        grid-gap: 60px;
    }
    .positive-text{
        padding: 0px 60px;
        text-align: center;
    }
}
@media (max-width: 410px){
    .positive-content{
        grid-template: repeat(auto-fit, minmax(200px, auto)) / repeat(auto-fit, minmax(210px, auto));
    }
    .positive-text{
        padding: 0px 30px;
    }
}
.partner-content {
    margin: 103px 0px 110px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.partner-title {
    padding: 10px;
    text-align: center;
}
.partner-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.partner-item{
    margin: 10px 40px;
}
.partner-img img{
    max-width: 100%;
    transition: 0.5s;
}
.partner-img img:hover{
    transform: scale(1.2);
}
.production {
    background-color: #163A24;
}
.production-content {
    display: grid;
    grid-template: repeat(auto-fit, minmax(auto, 1fr)) / 1fr;
    align-items: center;
}
.production-title {
    padding: 60px 0px 0px 0px;
    text-align: center;
}
.production-card {
    padding: 50px 0px 120px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
}
.production-img {
    margin: 0px 0px 18px 0px;
    transition: 0.5s;
}
.production-img:hover{
    transform: scale(1.2);
}
.list-item {
    color: #FBFAF7;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.production-item {
    text-align: center;
}
.employees {
    background: #F2EFE6;
}
.employees-content {
    padding: 119px 0px;
    margin: 0px 0px 130px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px){
    .employees-content{
    margin: 0px 0px 100px 0px;
    }
}
.employees-text {
    text-align: center;
    max-width: 700px;
}
.employees-img {
    padding: 10px;
}
.employees-img img{
    max-width: 100%;
}
.scenes-content {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.scenes-text {
    max-width: 350px;
    margin: 0px 90px 0px 0px;
}
.scenes-img img{
    max-width: 100%;
}
@media (max-width: 938px){
    .scenes-content{
        flex-direction: column;
        align-items: center;
    }
    .scenes-text{
        max-width: 80%;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
}
.interest-content {
    margin: 0px 0px 100px 0px;
}
.interest-text {
    text-align: center;
    padding: 20px;
}
.interest-card {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: center;
    align-items: start;
    grid-gap: 20px;
}
.interest-item {
    box-shadow: 7px 7px 20px 1px #d4d8cb;
    grid-gap: 20px;
    background-color: rgb(255, 249, 241);
    border-radius: 10px;
    padding: 40px 38px;
    transition: 0.5s;
}
.interest-item:hover{
    transform: scale(1.1);
}
.interest-item img{
    margin-bottom: 20px;
}
.interest-item h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}
.interest-list {
    padding-left: 17px;
}
.interest-list :not(:last-child){
    margin: 0px 0px 15px 0px;
}
.buy {
    background: #F2EFE6;
}
.buy-content {
    padding: 120px 0px;
    margin-bottom: 120px;
}
.buy-text {
    text-align: center;
}
.buy-card {
    display: flex;
    flex-wrap: wrap;
}
.buy-card img{
    object-fit: contain;
}
.buy-item {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.item-text {
    text-align: center;
    padding: 20px;
}
.item-text p{
    margin: 0px 0px 10px 0px;
}
.item-text h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin: 0px;
}
.buy-vector {
    text-align: center;
    padding: 20px 40px;
    max-width: 300px;
    position: relative;
}
.buy-vector p{
    margin: 0px 0px 10px 0px;
}
.buy-vector h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin: 0px;
}
.vector{
    position: absolute;
    left: 0;
    top: -10%;
    max-width: 100%;
    object-fit: cover;
}
.buy-button {
    text-align: center;
}
@media (max-width: 600px){
    .buy-card{
        flex-direction: column;
    }
    .buy-item{
        flex-direction: column;
    }
    .arrow{
        content: '';
        transform: rotate(90deg);
    }
}
@media (max-width: 900px){
    .vector{
        max-width: 80%;
        left: 10%;
    }
}
.book {
    margin-bottom: 100px;
}
.book-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.book-text {
    padding: 15px;
    max-width: 400px;
}
.book-text :not(:last-child){
    margin-bottom: 20px;
}
.book-img img{
    max-width: 100%;
}
@media (max-width: 768px){
    .book-content{
        flex-direction: column;
    }
    .book-text{
        text-align: center;
        max-width: 80%;
    }
}
.started {
    background-color: #163A24;
    padding: 120px 0px;
    background-image: url(/assets/img/left.png), url(/assets/img/right.png);
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 100%;
    background-size: auto auto;
}
.started-content {
    text-align: center;
}
.started-text :not(:last-child){
    margin-bottom: 20px;
}
.started-button {
    background-color: #FAB5A0;
    color: #163A24;
}
.form {
    background-color: #F2EFE6;
    padding: 45px 0px;
    margin: 0px 0px 20px 0px;
}
.form-content {
    display: flex;
    flex-wrap: wrap;
}
.form-text {
    padding: 15px;
    flex: 0 1 50%;
}
.form-text h2{
    margin: 0px 0px 10px 0px;
}
.form-input {
    flex: 0 1 50%;
    padding: 15px 50px;
}
.form-input span{
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.form-input a{
    display: inline-block;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #198C36;
}
.form-input-body{
    margin: 0px 0px 15px 0px;
    display: flex;
    background-color: #ffffff;
    border-radius: 255px;
    max-height: 54px;
}
.form-input-body .input{
    flex: 1 1 auto;
    border-radius: 255px;
    padding: 10px;
    border: 1px solid #ffffff;
}
.form-input-body input:focus{
    outline: none; 
}
.form-button {
    background-color: #15762E;
}
@media (max-width: 730px){
    .form-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .form-input-body{
        margin: 0 auto;
        width: 70%;
    }
    .form-input-body .input{
        width: 100%;
    }
    .form-button{
        padding: 10px 20px;
    }
}
.footer {
    margin: 0px 0px 20px 0px;
}
.footer-content {
    display: flex;
    flex-direction: column;
}
.footer-networks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0px 0px 20px 0px;
}
.logo {
    padding: 15px;
}
.footer-networks p{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding: 15px;
}
.networks-icon {
    display: flex;
    padding: 15px;
}
.icon {
    fill: #198C36;
    transition: 0.3s;
}
.icon:hover{
    content: '';
    transform: scale(1.5);
    fill: #d83333;
}
.icon:not(:last-child){
    margin: 0px 15px 0px 0px;
}
.footer-license {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.footer-license p{
    flex: 1 1 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.license-list {
    justify-content: flex-end;
    flex: 1 1 50%;
    display: flex;
    list-style: none;
}

.license-item:not(:last-child){
    margin: 0px 15px 0px 0px;
}

.item-link{
    text-decoration: none;
    color: #198C36;
}
@media (max-width: 830px){
    .footer-networks{
        flex-direction: column;
        margin: 10px 0px;
    }
    .footer-license{
        text-align: center;
        flex-direction: column;
        margin: 10px 0px;
    }
    .license-list{
        flex-direction: column;
    }
    .license-item:not(:last-child){
        margin: 10px 0px 0px 0px;
    }
}